@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*:focus,
*:hover {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0efe9;
  color: #1e212d;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.TodoApp {
  width: 30%;
  min-height: 300px;
  margin: 80px auto;
  padding: 60px;
  background-color: #ffffff;
  border-radius: 5px;
  -moz-box-shadow: 0 0 4px #ccc;
  -webkit-box-shadow: 0 0 4px #ccc;
  box-shadow: 0 0 5px #ccc;
}

.TodoApp h1 {
  margin-bottom: 20px;
  text-align: center;
}

.todo-list {
  font-family: "Open Sans", sans-serif;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-left: 5px solid #eabf9f;
  padding: 20px;
  margin: 25px 0;
  -moz-box-shadow: 0 0 4px #eee;
  -webkit-box-shadow: 0 0 4px #eee;
  box-shadow: 1px 2px 5px #eee;
}


.AddTodo {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 2px solid #eee;
  border-top: 2px solid #eee;
}

.todo-input {
  padding: 10px;
  resize: none;
  margin: 25px 0;
  border: 1px solid #d3e0ea;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

.todo-input:focus {
  border-color: #b68973;
}

.btn {
  align-self: flex-end;
  padding: 15px 5px;
  background-color: #eabf9f;
  border: none;
  border-radius: 5px;
  font-family: "Quicksand";
  font-weight: bold;
}

.btn:hover,
.btn:active {
  cursor: pointer;
}

.todo-btn {
  display: flex;
  flex-direction: row;
}

.add-btn {
  width:120px;
  margin-bottom:25px;
}

.util-btn {
  padding: 0;
  width:30px;
  height: 30px;
  margin-left: 5px;
}

@media only screen and (max-width: 1024px) {
  .TodoApp {
    width:80%;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 13px;
  }

  .TodoApp {
    padding: 30px;
  }

  .todo-input {
    font-size:13px;
  }
}